* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}

/* .moving {
    outline: 1px solid #333;
}

.seized {
    outline: 1px solid #333;
} */

.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 60px;
}

.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
}

.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1rem;
}

.playground > ul {
    border: 2px solid #333;
    width: 250px;
    margin: 0 auto;
}

.playground > ul > li {
    width: 100%;
    height: 25px;
}

.playground > ul > li > ul {
    display: flex;
}

.playground > ul > li > ul > li {
    width: 25px;
    height: 25px;
    & .moving {
        outline: 1px solid #333;
    }
    & .seized {
        outline: 1px solid #333;
    }
    outline: 1px solid #ccc;
}

.I {
    background: skyblue;
}
.O {
    background: yellow;
}
.Z {
    background: red;
}
.S {
    background: lightgreen;
}
.J {
    background: blue;
}
.L {
    background: orange;
}
.T {
    background: green;
}